<div class="alert alert-danger" *ngIf="error">
     Invalid user name or password
</div>

<div class="d-flex container-fluid">
   <div class="col-3 d-inline ">
       <div class="d-flex justify-content-center ">
           <div>
               <div class="d-flex justify-content-center">
                    <div >
                        <img src="assets/img/logo.png" width="100px" height="100px"/>
                    </div>
               </div>
                <div class="text-center" >
                    <label class="title">SMARTTIMES</label>
                    <h3 class="pt-3">Welcome Back !</h3>
                    <h6 >sing in to continue to Smart POS</h6>
                </div>
           </div>
        </div>
        <div class="d-flex justify-content-center">
            <form (ngSubmit)="onSubmit()">
                <div class="d-flex justify-content-center">
                    <div>
                                <div class="input-group input-group-sm mb-3">
                                        <div class="input-group-prepend">
                                            <i class="fas fa-user px-2 pr-3 " style="font-size: 20px;color: #6d6262;"></i>
                                        </div>
                                        <div style="height: fit-content;">
                                            <label for="username" class="d-flex d-block  label" style="font-size: 14px;color: #6d6262;">User name</label>
                                            <input type="text" class="form-control d-flex d-block ng-valid" aria-label="Small" aria-describedby="inputGroup-sizing-sm" [(ngModel)]="username" name="username" id="username" class="name">
                                        </div>
                                </div>
                                <div class="input-group input-group-sm mb-3">
                                        <div class="input-group-prepend">
                                            <i class="fas fa-lock px-2 pr-3" style="font-size: 20px;color: #6d6262;"></i>
                                        </div>
                                        <div style="height: fit-content;">
                                            <label for="password" class="d-flex d-block  label " style="font-size: 14px;color: #6d6262;">Password</label>
                                            <input type="password" class="form-control d-flex d-block ng-valid" aria-label="Small" aria-describedby="inputGroup-sizing-sm" [(ngModel)]="password" name="password" id="password" class="name">
                                        </div>
                                </div>
                                <div class="custom-control custom-checkbox pl-4">
                                        <input type="checkbox" class="custom-control-input" id="customCheck1">
                                        <label class="custom-control-label " for="customCheck1" style="font-size: 16px;">Remember me</label>
                                </div>
                                <div class="d-flex justify-content-center pt-4">
                                        <button type="submit" class="btn btn-danger" style="font-size: 22px;" >Login</button>
                                </div>
                                
                                <div class="d-flex  justify-content-center">
                                    <div>
                                        <div class="d-flex justify-content-center pt-3">
                                            <label class="forgot-label"><a href="/forgotpassword" style="font-size: 16px;color: #6d6262;">Forgot your Password</a></label>
                                        </div>
                                        <div class="d-flex justify-content-center pt-3">
                                            <label class="forgot-label" style="font-size: 16px;color: #6d6262;">Don't have an account?<a href="/register">Register</a></label>
                                        </div>
                                    </div>
                                </div>     
                    </div>

                </div>
            </form>
        </div>

   </div>
   <div class="col-9 d-inline">
    <img class="logImg" src="assets/img/login.png"  width="100%" height="100%"/>
   </div>
</div>
